.flexbox-container{
    margin: auto;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;}

.iconos{
    height: 200px;
}

.flexbox-container2{
    margin: auto;
    background: grey;
    display: flex;
    flex-direction: row;}

.slider ul{
    display: flex;
    width: 400%;
}

.slider li{
    list-style: none;
}