.image{
    height: 280px;
    width: 350px;
    padding: 40px;
}



.iconos{
    height: 160px;
    width: 160px;
    border-radius: 80px;
    border-width: 10px;
    border-style: solid;
    border-color: gainsboro;
}

.section1{
    height: 160px;
    width: 160px;
    border-radius: 80px;
    border-width: 10px;
    border-style: solid;
    border-color: gainsboro;
    background: url("/img/productos/1.png") no-repeat center /cover;
    background-size:cover;
    position: relative;
    background-position: center;
    margin: 45px
}

.section2{
    height: 160px;
    width: 160px;
    border-radius: 80px;
    border-width: 10px;
    border-style: solid;
    border-color: gainsboro;
    background: url("/img/productos/2.png") no-repeat center /cover;
    background-size:cover;
    position: relative;
    background-position: center;
    margin: 45px
}

.section3{
    height: 160px;
    width: 160px;
    border-radius: 80px;
    border-width: 10px;
    border-style: solid;
    border-color: gainsboro;
    background: url("/img/productos/3.png") no-repeat center /cover;
    background-size:cover;
    position: relative;
    background-position: center;
    margin: 45px
}

.section4{
    height: 160px;
    width: 160px;
    border-radius: 80px;
    border-width: 10px;
    border-style: solid;
    border-color: gainsboro;
    background: url("/img/productos/4.png") no-repeat center /cover;
    background-size:cover;
    position: relative;
    background-position: center;
    margin: 45px
}

.section5{
    height: 160px;
    width: 160px;
    border-radius: 80px;
    border-width: 10px;
    border-style: solid;
    border-color: gainsboro;
    background: url("/img/productos/5.png") no-repeat center /cover;
    background-size:cover;
    position: relative;
    background-position: center;
    margin: 45px
}


.overlay{
    position: absolute;
    border-radius: 80px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21,156,206,0.5);
}

#sistema{
    margin: auto 0;
    background: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    height: 800px;
    text-align: center;
    width: auto;
}

.texticon{
    color: darkgrey;
    font-size: .9em;
}